
@{
    ViewBag.Title = "affiliate_links";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="p-t-200 p-l-100">
    <div>
        <textarea class="form-control"></textarea>
    </div>
    <div class="p-t-30">
        <h4 class="text-white">Copy and paste the code above in your website</h4>
    </div>
</div>

