
@{
    ViewBag.Title = "affiliate_trans";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<div class="p-t-100">
    <div class="m-b-5 row">
        <div class="col-lg-9  text-md-right">
            <h2 class="text-green">Since start:</h2>
        </div>
        <div class="col-lg-3  text-md-right">
            <h2 class="text-white">20 BTC</h2>
        </div>        
    </div>
    <div class="m-b-5 row">
        <div class="col-lg-9  text-md-right">
            <h2 class="text-green">This month:</h2>
        </div>
        <div class="col-lg-3  text-md-right">
            <h2 class="text-white">0.1 BTC</h2>
        </div>
    </div>
    <div class="">
        <table class="table table-striped table-responsive bg-white">
            <thead>
                <tr class="first last">
                    <th>USER</th>
                    <th>SIZE</th>
                    <th>STATUS</th>
                    <th>COUNTRY</th>
                    <th>SIGNUP</th>
                    <th>COMISSION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxxxxxx232</td>
                    <td>5 BTC</td>
                    <td>Pending</td>
                    <td>United Kingdom</td>
                    <td>27/9/2018</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>xxxxxxx467</td>
                    <td>10 BTC</td>
                    <td>Completed</td>
                    <td>United Kingdom</td>
                    <td>10/10/2018</td>
                    <td>0.1 BTC</td>
                </tr>
                <tr>
                    <td>xxxxxxx467</td>
                    <td>10 BTC</td>
                    <td>Completed</td>
                    <td>United Kingdom</td>
                    <td>10/10/2018</td>
                    <td>0.1 BTC</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
